<h2>Goal</h2>
<form action="/my-handling-form-page" method="post">
  <div style="overflow-x:auto;">
    <table> 
      <tr> 
        <th>Analyze</th><td><input type="text" #experimentAnalyze /></td>
      </tr>
      <tr> 
        <th>for the purpose of</th><td><input type="text" #experimentPurpose /></td>
      </tr> 
      <tr>
        <th>with respect to</th><td><input type="text" #experimentRespect /></td>
      </tr>
      <tr>
        <th>from the point of view of</th><td><input type="text" #experimentPointOfView /></td>
      </tr>
      <tr>
        <th>in the context of</th><td><input type="text" #experimentContext /></td>
      </tr>
      <tr> 
    </table>

    <!-- (click) passes input value to add() and then clears the input -->
    <button type="submit" (click)="add(experimentAnalyze.value, experimentPurpose.value, experimentRespect.value, experimentPointOfView.value, 
    experimentContext.value); experimentAnalyze.value=''; experimentPurpose.value=''; experimentRespect.value=''; 
    experimentPointOfView.value=''; experimentContext.value=''; ">
      Add
    </button>
  </div>
</form>
<ul class="goals">
  <li *ngFor="let goal of goals"
    [class.selected]="goal === selectedAbstract"
    (click)="onSelect(goal)">
    <span class="badge">{{goal.id}}</span>  {{goal.analyze}} {{goal.purpose}} {{goal.respect}} {{goal.pointOfView}} {{goal.context}}
  </li>
</ul>